<!-- bootstrap login form -->
<form [formGroup]="loginForm" (submit)="login()">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Username</label>
        <input type="text" class="form-control" id="formGroupExampleInput" 
        placeholder="Enter username" formControlName="username">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" 
        placeholder="Enter Password" formControlName="password">
      </div>
      <input type="submit" class="btn btn-success" >
</form>
